body.noneBg{
  background: none;
}
body.profile{
  background: url(@profile);
}
body.profile2{
  background: url(@profile2);
}
body.profile3{
  background: url(@profile3);
}
body.profile4{
  background: url(@profile4);
}

// 서브페이지 공통
section{
  >.title{margin-bottom: 50px;
          height: 60px;
          padding: 30px 0;
          background-color: #f4f4f4;
          text-align: center;
          text-transform: capitalize;
          text-indent: -99999px;
          font-size:0;
              h2{
              width: 360px;
              height: 51px;
              margin: 0 auto;
              background-position: center;
          }
        }
      }


// profile 페이지
section.pro{
            width: 250px;
            position: absolute;
            top:20%;
            margin-left: 8%;
            display: inline-block;
            text-align: center;
        .img_wrap{
          padding:0;
          text-align: center;
        .contents a{
          width: 80px;
          height: 80px;
          float: left;
          border: 2px solid #fff;
          margin: 5px;
          padding: 0;
          outline: 1px #FFF solid;
          cursor: pointer;
          background-repeat: no-repeat;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
// disco 페이지
section.disco{
         .title h2{
                  background-image: url(http://wondergirls.jype.com/images/title-discography.png);
                  background-repeat: no-repeat;

                }
        .btn-global{
            width: 1000px;
            margin: 0 auto;
            height: 21px;
            margin-bottom: 5px;
             a{ text-align: center;
             text-transform:uppercase;
             display: inline-block;
             background-color: #000;
             color: #FFF;
             font-size: 11px;
             width: 21px;
             height: 21px;
             border-radius: 50%;
             vertical-align: top;
             line-height: 20px;
          }
        }
        .wrap{
               margin: 0 auto 100px;
               max-width:1000px;
        .album-thumb,.album-contents{
               display:table-cell;
        }
       .album-thumb{
           width:35.2%;
           img{width:100%;}
           h2{font-size: 12px;}
           ol{list-style-position:inside;}
           li{font-size: 11px;}
          }
       .album-contents{
         vertical-align: top;
         padding-left:28px;
         strong{float:left;}
         span{float:right;
             font-size:12px;
         }
         .title{
             height:58px;
             background-image: url(http://wondergirls.jype.com/images/discography/a-titlebg.png);
             text-transform:capitalize;
             color:#FFF;
             font-size:1.5em;
             line-height:50px;
             padding:0 20px;
         }
         .text{
            color:#3F3F3F;
           h3{
             font-size: 13px;
             padding: 20px 0 10px 0;
           }
           p{
             font-size: 12px;
           }
         }
       }
       .album-list{
           margin-top:30px;
           text-align:center;
           span{
             color:#3F3F3F;
             font-size: 12px;
           }
           .list-btn a{
               width:10px;
               height:10px;
               border-radius:50%;
               background-color: #CCC;
               display:inline-block;
           }

           li{
               vertical-align:top;
               display:inline-block;
               .description{
                 display:block;
                   span{display:block;}
               }

           }
       }

   }
}


// notice 페이지
section.notice{
  h2{
    background-image: url(http://wondergirls.jype.com/images/title-noti.png);
  }
  .list{max-width: 1000px;width:85%; margin: 0 auto;
    table{
            width:100%;

            border-collapse: collapse;
            thead{
                border-top: 2px solid #d4d3d3;
                border-bottom: 1px solid #d4d3d3;
                background: #f8f5f2;
                td a{color:#05abf6; font-weight: bold;}
                th{color:#0a0502;}
            }
            td,th{
              padding: 11px 0 9px;
              color: #848280;
              border-bottom: 1px solid #d4d3d3;
              a{color:#1e1e1e;}
            }
            tr:first-child td{color: #000;}
            tr>td:first-child{
                text-align:center;
            }
            tr>td:nth-child(3){
                text-align:center;
            }
            td[colspan="3"] div{padding:40px;}
            .elip{
                width:400px;
                display:block;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
            }
        }
  }
  .list-btn{
   text-align: center;
   margin-top: 20px;
   padding-bottom: 100px;
  }
  .list-btn a{
      width:10px;
      height:10px;
      border-radius:50%;
      background-color: #CCC;
      display:inline-block;
  }
}


// gallery 페이지
section.gallery{
   margin: 0 auto;
   padding-bottom: 50px;
    h2{
        background-image:url(http://wondergirls.jype.com/images/title-gallery.png);
    }
    .grid-list{
        max-width:769px;
        margin:0 auto;
        overflow:hidden;
        ul{
           overflow:hidden;
            outline:1px #00F solid;


            li{
            width:20%;
            max-width:153px;
            float:left;

                img{
                    max-width: 150px;
                    width:100%;
                    margin-bottom:5px;
                    vertical-align: top;
                }
            }
        }
    }
    .list-btn{
     text-align: center;
     margin-top: 20px;
    }
    .list-btn a{
        width:10px;
        height:10px;
        border-radius:50%;
        background-color: #CCC;
        display:inline-block;
    }
}


//  schedule 페이지
section.schedule{
  h2{
    background-image: url(http://wondergirls.jype.com/images/title-sche.png);
    background-repeat: no-repeat;
  }
  .main{width: 100%;
        height: 100%;
        padding: 50px 0;
        h3{text-align: center;
           line-height: 40px;
        }
        .fullbox{
          max-width: 1000px;
          width: 85%;
          margin: 0 auto;
        .schedule_button{
          position: relative;
          height: 40px;
          background: #f8f5f2;
        .btn{
          display: block;
          position: absolute;
          width: 18px;
          height: 18px;
      }
      .pm{top:13px;
          left:20px;}
      .nm{top:13px;
          right:20px;}
      }
      table{
        float: left;
        width: 40%;
        thead th {
          height: 42px;
        }

    }
   }
  }
}



//  video 페이지
section.video{
  h2{
    background-image: url(http://wondergirls.jype.com/images/title-video.png);
  }
  .movie {margin: 0 auto;
          width: 100%;
          height: 100%;

  .video{
          width: 760px;
          height: 480px;
          margin: 0 auto;
    iframe {

            width: 100%;
            height: 100%;
    }
  }

  ul {
    padding-top: 40px;
    list-style: none;
    text-align: center;
    font-size: 12px;
    li{
      width: 200px;
      height: 114px;
      display: inline-block;
      img{
        width: 100%;
        height: 100%;
      }

    }
  }

    }
  }
