@pcBg:"http://wondergirls.jype.com/images/bg-pc.jpg";
@pcBg2:"http://wondergirls.jype.com/images/profile/large/1.jpg"
@mobileBg:"http://wondergirls.jype.com/images/bg-720.jpg";
@mobileBg2:"http://wondergirls.jype.com/images/profile/large/1.jpg"
@logo:"http://wondergirls.jype.com/images/logo-s.png";
//색 종류
@text-color:#F28195;
@base-color:#f4c22d;
