* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
body {
  margin: 0;
  background-image: url("http://wondergirls.jype.com/images/bg-pc.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center 0;
}
header {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.53);
  padding: 0 20px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.4);
  z-index: 1;
  position: relative;
}
header h1 {
  float: left;
}
header h1 a {
  display: block;
  background-image: url("../image/logo-s.png");
  width: 104px;
  height: 52px;
  text-indent: -9999px;
  font-size: 0;
  transition: 1s;
  margin: 25px;
  background-repeat: no-repeat;
  background-position: center;
}
header h1 a:hover {
  transform: rotateY(180deg);
}
header nav {
  float: right;
}
header nav .menu {
  display: none;
  height: 55px;
  width: 200px;
  background-color: #F18195;
  margin-right: -20px;
  line-height: 55px;
  text-align: center;
  color: #FFF;
}
header nav li {
  float: left;
  height: 100%;
  line-height: 100px;
}
header nav li:hover {
  background-color: rgba(255, 255, 255, 0.7);
}
header nav li a {
  display: block;
  padding: 0 18px;
  text-decoration: none;
  font-size: 16px;
  color: #F18195;
  transition: .1s;
  font-weight: bold;
}
header nav li a:hover {
  border-top: 2px #F18195 solid;
  color: #f4c22d;
}
section .biglogo {
  width: 320px;
  height: 320px;
  background-image: url("http://wondergirls.jype.com/images/mainlogo.png");
  background-size: cover;
  position: absolute;
  left: 60%;
  top: 30%;
  transition: 1s;
}
section .biglogo:hover {
  transform: scale(1.3);
  opacity: 0;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 57px;
  background-color: rgba(0, 0, 0, 0.2);
}
footer h3 {
  position: relative;
  display: block;
  width: 115px;
  height: 45px;
  text-indent: -9999px;
  top: 5px;
  left: 7%;
  float: left;
  background-image: url(http://missa.jype.com/images/jyplogo-b.png);
}
@media screen and (max-width: 769px) {
  body {
    background-image: url('@mobileBg');
    background-image: url('@mobileBg2');
    background-position: center center;
  }
  header {
    height: 55px;
  }
  header nav .menu {
    display: block;
  }
  header nav ul {
    width: 200px;
    position: absolute;
    display: none;
  }
  header nav ul li {
    float: none;
    border: 1px #F00 solid;
    display: block;
    height: 55px;
    line-height: 55px;
  }
  header nav ul li a {
    transition: .1s;
    border-left: 0px #f4c22d solid;
  }
  header nav ul li a:hover {
    border-top: 0;
    border-left: 5px #f4c22d solid;
  }
}
body.noneBg {
  background: none;
}
body.profile {
  background: url("../image/profile.jpg");
}
section > .title {
  margin-bottom: 50px;
  height: 60px;
  padding: 30px 0;
  background-color: #f4f4f4;
  text-align: center;
  text-transform: capitalize;
  text-indent: -99999px;
  font-size: 0;
}
section > .title h2 {
  width: 360px;
  height: 51px;
  margin: 0 auto;
}
section.profile {
  width: 250px;
  position: absolute;
  top: 20%;
  margin-left: 8%;
  display: inline-block;
  text-align: center;
}
section.profile .img_wrap {
  padding: 0;
  text-align: center;
}
section.profile .img_wrap .contents a {
  width: 80px;
  height: 80px;
  float: left;
  border: 2px solid #fff;
  margin: 5px;
  padding: 0;
  outline: 1px #FFF solid;
  cursor: pointer;
  background-repeat: no-repeat;
}
section.profile .img_wrap .contents a img {
  width: 100%;
  height: 100%;
}
section.disco .title h2 {
  background-image: url(http://wondergirls.jype.com/images/title-discography.png);
  background-repeat: no-repeat;
}
section.disco .btn-global {
  width: 1000px;
  margin: 0 auto;
  height: 21px;
  margin-bottom: 5px;
}
section.disco .btn-global a {
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  background-color: #000;
  color: #FFF;
  font-size: 11px;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  vertical-align: top;
  line-height: 20px;
}
section.disco .wrap {
  margin: 0 auto 100px;
  max-width: 1000px;
}
section.disco .wrap .album-thumb,
section.disco .wrap .album-contents {
  display: table-cell;
}
section.disco .wrap .album-thumb {
  width: 35.2%;
}
section.disco .wrap .album-thumb > img {
  width: 100%;
}
section.disco .wrap .album-thumb h2 {
  font-size: 12px;
}
section.disco .wrap .album-thumb ol {
  list-style-position: inside;
}
section.disco .wrap .album-thumb li {
  font-size: 11px;
}
section.disco .wrap .album-contents {
  vertical-align: top;
  padding-left: 28px;
}
section.disco .wrap .album-contents strong {
  float: left;
}
section.disco .wrap .album-contents span {
  float: right;
  font-size: 12px;
}
section.disco .wrap .album-contents .title {
  height: 58px;
  background-image: url(http://wondergirls.jype.com/images/discography/a-titlebg.png);
  text-transform: capitalize;
  color: #FFF;
  font-size: 1.5em;
  line-height: 50px;
  padding: 0 20px;
}
section.disco .wrap .album-contents .text {
  color: #3F3F3F;
}
section.disco .wrap .album-contents .text h3 {
  font-size: 13px;
  padding: 20px 0 10px 0;
}
section.disco .wrap .album-contents .text p {
  font-size: 12px;
}
section.disco .wrap .album-list {
  margin-top: 30px;
  text-align: center;
}
section.disco .wrap .album-list span {
  color: #3F3F3F;
  font-size: 12px;
}
section.disco .wrap .album-list .list-btn a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCC;
  display: inline-block;
}
section.disco .wrap .album-list li {
  vertical-align: top;
  display: inline-block;
}
section.disco .wrap .album-list li .description {
  display: block;
}
section.disco .wrap .album-list li .description span {
  display: block;
}
section.notice h2 {
  background-image: url(http://wondergirls.jype.com/images/title-noti.png);
}
section.notice .list {
  width: 1000px;
  margin: 0 auto;
  border: 1px #F00 solid;
}
section.notice .list table {
  width: 100%;
  border-collapse: collapse;
}
section.notice .list table thead {
  visibility: hidden;
}
section.notice .list table td,
section.notice .list table th {
  border-bottom: 1px #000 solid;
  padding: 4px 0;
}
section.notice .list table tr > td:first-child {
  text-align: center;
}
section.notice .list table tr > td:nth-child(3) {
  text-align: center;
}
section.notice .list table td[colspan="3"] div {
  padding: 40px;
}
section.notice .list table .elip {
  width: 400px;
  border: 1px #F00 solid;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
section.gallery {
  margin: 0 auto;
}
section.gallery h2 {
  background-image: url(http://wondergirls.jype.com/images/title-gallery.png);
}
section.gallery .grid-list {
  max-width: 769px;
  margin: 0 auto;
  overflow: hidden;
}
section.gallery .grid-list ul {
  overflow: hidden;
  outline: 1px #00F solid;
}
section.gallery .grid-list ul li {
  width: 20%;
  max-width: 153px;
  float: left;
}
section.gallery .grid-list ul li img {
  max-width: 150px;
  width: 100%;
  margin-bottom: 5px;
  vertical-align: top;
}
section.gallery .list-btn {
  text-align: center;
  margin-top: 20px;
}
section.gallery .list-btn a {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #CCC;
  display: inline-block;
}
section.schedule h2 {
  background-image: url(http://wondergirls.jype.com/images/title-sche.png);
  background-repeat: no-repeat;
}
section.video h2 {
  background-image: url(http://wondergirls.jype.com/images/title-video.png);
}
section.video .movie {
  margin: 30px auto 30px;
  width: 760px;
  height: 480px;
  z-index: 1;
  position: relative;
}
