* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: Dotum, "돋움";
    color: #373737;
}

em, i {
    font-style: normal;
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: #373737;
}

ul, ol {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.gnb-group {
    height: 30px;
    background-color: #f8f8f8;
    border-bottom: 1px #d5d0cc solid;
}

.gnb {
    width: 990px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
}

.bookmark {
    padding-left: 13px;
    margin-right: 13px;
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-position: 0 9px;
}

.rank li {
    display: none;
    padding-left: 20px;
    background-image: url(images/number.png);
    background-repeat: no-repeat;
    background-position: 0 9px;
}

.rank li.on {
    display: block;
}

.rank i {
    padding-left: 8px;
    background-image: url(images/up.png);
    background-repeat: no-repeat;
    background-position: 0 2px;
}

.gnb_menu li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 0 7px 0 7px;
}

.lnb {
    width: 990px;
    height: 107px;
    margin: 0 auto;
}

.lnb .banner {
    width: 105px;
    height: 27px;
    position: relative;
    top: 34px;
    background-image: url(images/icon-banner.png);
    background-repeat: no-repeat;
}

.lnb .event {
    width: 239px;
    height: 77px;
    position: relative;
    top: 20px;
    background-image: url(images/event.png);
}

.lnb .internet {
    width: 280px;
    height: 52px;
    margin: 0 auto;
    background-image: url(images/internet.png);
    position: relative;
    top: 16px;
}

.lnb ul {
    position: absolute;
    top: 101px;
    width: 304px;
    height: 14px;
}

.lnb ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.lnb ul li a {
    font-family: "굴림";
    font-size: 13px;
    color: #8c8c8c;
}

.lnb input {
    width: 238px;
    height: 21px;
    margin: 0 auto;
    position: absolute;
    border: 2px #3b5999 solid;
    border-right: 0;
}

.in_search {
    width: 280px;
    height: 40px;
    margin: 0 auto;
    position: relative;
    top: 18px;
}

.in_search input:nth-child(2) {
    width: 40px;
    height: 21px;
    border: 2px #3b5999 solid;
    position: absolute;
    background-image: url(images/search.png);
    background-repeat: no-repeat;
    left: 240px;
}

.menu {
    width: 990px;
    height: 39px;
    margin: 0 auto;
    background-color: #3b5999;
}

.menu ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 11px 12px 11px 11px;
}

.menu ul li.on {
    background-color: #5785f2;
}

.menu ul li a {
    font-size: 15px;
    font-weight: bold;
    font-family: "나눔고딕";
    color: #fff;
}

.menu ul:nth-child(2) {
    float: right;
}

.menu ul:nth-child(2) li a {
    font-size: 11px;
    font-family: "돋움";
    color: #fff;
}

.menu ul:nth-child(2) li:nth-child(2) a {
    font-size: 12px;
    font-family: "돋움";
    color: #fff;
}

.menu2 {
    width: 990px;
    height: 39px;
    margin: 0 auto;
    border-bottom: 1px #d5d0cc solid;
}

.menu2 ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 12px 5px 13px 6px;
}

.menu2 ul.fl li a {
    font-size: 13px;
    font-family: "나눔고딕";
    color: #808080;
    font-weight: bold;
}

.menu2 ul.fr li a {
    font-size: 12px;
    font-family: "돋움";
    color: #373737;
}

.menu2 i {
    color: blue;
}

.main {
    width: 990px;
    height: 1344px;
    margin: 5px auto 0;
    border: 1px #ccc solid;
}

.section {
    width: 748px;
    height: 1344px;
}

.benz {
    width: 747px;
    height: 356px;
    position: relative;
}

.benz div:nth-child(3) {
    margin-top: 12px;
}

.benz ul {
    width: 323px;
    height: 232px;
    padding: 12px 14px 10px 8px;
}

.benz ul li {
    padding-bottom: 5px;
    border-bottom: 1px #d5d0cc solid;
}

.benz ul li a {
    display: block;
    overflow: hidden;
}

.benz ul li a img {
    float: left;
}

.benz ul li a span {
    display: block;
    float: left;
    width: 200px;
    height: 55px;
    margin: 14px 0 0 11px;
}

.benz strong {
    display: block;
}

.car {
    border-top: 1px #c7cbce solid;
    height: 197px;
}

.car ul {
    position: relative;
    top: 8px;
}

.car ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    margin-right: 9px;
    text-align: center;
}

.car ul li span {
    display: block;
    padding-top: 11px;
    padding-bottom: 15px;
    color: #666;
}

.car .on {
    padding-bottom: 8px;
}

.car .on li a {
    font-size: 13px;
    font-family: "굴림";
    color: #333;
}

.aside {
    width: 237px;
    height: 1344px;
    border-left: 1px #ccc solid;
}

.login {
    width: 237px;
    height: 100px;
    background-color: #f6f6f6;
    border-bottom: 1px #ccc solid;
}

.community_issue {
    width: 216px;
    height: 243px;
    padding: 11px 10px 0 10px;
}

.car_news {
    width: 215px;
    height: 197px;
    margin: 0 10px auto auto;
    border-top: 1px #c7cbce solid;
}

.community_popular {
    width: 215px;
    height: 197px;
    margin: 0 10px auto auto;
    border-top: 1px #c7cbce solid;
}

.car_popular {
    width: 215px;
    height: 197px;
    margin: 0 10px auto auto;
    border-top: 1px #c7cbce solid;
}

.story {
    width: 215px;
    height: 197px;
    margin: 0 10px auto auto;
    border-top: 1px #c7cbce solid;
}

.event_news {
    width: 215px;
    height: 197px;
    margin: 0 10px auto auto;
    border-top: 1px #c7cbce solid;
}

.community_issue li {
    position: relative;
    padding: 8px 0 8px 5px;
    background-image: url(images/one.png);
    background-repeat: no-repeat;
    background-position: 0 20px;
}

.community_issue li+li {
    position: relative;
    padding: 8px 0 8px 5px;
    background-image: url(images/two.png);
    background-repeat: no-repeat;
    background-position: 0 20px;
}

.community_issue li+li+li {
    position: relative;
    padding: 8px 0 8px 5px;
    background-image: url(images/three.png);
    background-repeat: no-repeat;
    background-position: 0 20px;
}

.community_issue li a {
    display: block;
    overflow: hidden;
}

.community_issue li img {
    float: right;
}

.community_issue li span {
    width: 117px;
    height: 44px;
    display: block;
    float: left;
    margin: 10px 4px 0 7px;
}

.community_issue>span {
    font-family: "나눔고딕";
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 13px;
}

.community_issue span.fr {
    background-image: url(images/bbb.png);
    background-repeat: no-repeat;
    width: 66px;
    height: 17px;
}

.car_news>span {
    font-family: "나눔고딕";
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
}

.car_news ul li {
    padding-top: 10px;
}

.car_news ul li a {
    display: block;
    overflow: hidden;
}

.car_news ul li a img {
    float: left;
}

.car_news ul li span {
    width: 119px;
    height: 30px;
    display: block;
    float: left;
    margin: 10px 4px 0 7px;
}

.community_popular>span {
    font-family: "나눔고딕";
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
}

.community_popular li {
    position: relative;
    margin-top: 6px;
    float: left;
}

.community_popular li a {
    display: block;
    overflow: hidden;
}

.community_popular li img {
    float: left;
}

.community_popular ul li span {
    width: 117px;
    height: 44px;
    display: block;
    float: right;
    margin: 1px 4px 0 7px;
}

.car_popular li {
    position: relative;
    padding: 8px 0 0 8px;
    background-image: url(images/one2.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    border-bottom: 1px #e3e5e6 solid;
}

.car_popular li+li {
    position: relative;
    padding: 8px 0 0 8px;
    background-image: url(images/two.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    border-bottom: 1px #e3e5e6 solid;
}

.car_popular li+li+li {
    position: relative;
    padding: 8px 0 0 8px;
    background-image: url(images/three.png);
    background-repeat: no-repeat;
    background-position: 0 10px;
    border-bottom: 1px #e3e5e6 solid;
}

.car_popular li a {
    display: block;
    overflow: hidden;
}

.car_popular li img {
    float: right;
}

.car_popular li span {
    width: 117px;
    height: 44px;
    display: block;
    float: left;
    margin: 0 4px 0 7px;
}

.car_popular>span {
    font-family: "나눔고딕";
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
}

.story>span {
    font-family: "나눔고딕";
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
}

.story img {
    margin-top: 10px;
}

.eventstory {
    width: 215px;
    height: 96px;
}

.eventstory>span, .sns>span {
    font-family: "나눔고딕";
    font-size: 13px;
    font-weight: bold;
    margin-top: 13px;
}

.eventstory ul li {
    margin-top: 5px;
}

.eventstory ul li img {
    float: left;
}

.eventstory ul li span {
    width: 125px;
    height: 44px;
    display: block;
    float: right;
    margin: 1px 4px 0 7px;
}

.sns {
    width: 215px;
    height: 100px;
    border-top: 1px #c7cbce solid;
}

.sns img {
    margin: 10px;
}

.footer {
    width: 990px;
    height: 443px;
    margin: 0 auto;
    border-top: 2px #8c909f solid;
}

.notice {
    width: 990px;
    height: 30px;
    margin: 0 auto;
    border: 1px #c7cbce solid;
    border-top: 0;
}

.notice li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 9px 16px 0 14px;
}

.notice li a {
    font-family: "나눔고딕";
    font-size: 13px;
    font-weight: bold;
    color: #494949;
}

.notice li:nth-child(2) {
    padding-right: 23px;
    background-image: url(images/icon_next.png);
    background-repeat: no-repeat;
    background-position: 94px 15px;
}

.notice li:nth-child(3) a {
    color: #333;
    font-weight: normal;
    font-family: "돋움";
    font-size: 12px;
}

.contents {
    width: 990px;
    height: 214px;
    margin: 0 auto;
    border: 1px #c7cbce solid;
    border-top: 0;
}

.contents span {
    font-family: "나눔고딕";
    font-size: 13px;
    font-weight: bold;
    color: #494949;
}

.online {
    width: 139px;
    height: 214px;
}

.korea {
    width: 122px;
    height: 214px;
}

.import {
    width: 122px;
    height: 214px;
}

.mycar {
    width: 122px;
    height: 214px;
}

.noticeboard {
    width: 122px;
    height: 214px;
}

.library {
    width: 122px;
    height: 214px;
}

.service {
    width: 235px;
    height: 214px;
}

.contents span {
    position: relative;
    top: 16px;
    left: 15px;
}

.contents ul {
    position: relative;
    top: 23px;
    left: 15px;
}

.contents li {
    padding-top: 5px;
}

.number {
    width: 990px;
    height: 30px;
    margin: 0 auto;
    border-bottom: 1px #b1b5c1 solid;
}

.number li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    font-weight: bold;
    font-size: 11px;
}

.number li a {
    line-height: 30px;
    font-weight: normal;
    font-size: 10px;
}

.number2 {
    text-align: center;
}

.number2 span {
    display: block;
}

.number2 span:nth-child(6) {
    padding-top: 20px;
}

.information {
    background-image: url(images/information.png);
    background-repeat: no-repeat;
    background-position: 735px 0;
}

.number2 ul {
    padding: 20px 0 20px 0;
}

.number2 ul li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
