* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-family: "돋움";
    color: #373737;
}
em , i {
  font-style: normal;
}
a {
    text-decoration: none;
    color: #373737;
}

ol, ul, li {
    list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.gnb-group {
    height: 30px;
    background-color: #f8f8f8;
    border-bottom: 1px #d5d0cc solid;
}

.gnb {
    width: 990px;
    height: 30px;
    margin: 0 auto;
    line-height: 30px;
}

.bookmark {
    padding-left: 13px;
    margin-right: 13px;
    background-image: url(images/star.png);
    background-repeat: no-repeat;
    background-position: 0 9px;
}

.rank li {
    display: none;
    padding-left: 20px;
    background-image: url(images/number.png);
    background-repeat: no-repeat;
    background-position: 0 9px;
}

.rank li.on {
    display: block;
}

.gnb_menu li {
    display: inline-block;
}
