* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.gnb-group {
    width: 100%;
    height: 30px;
    border-bottom: 1px #ccc solid;
}

.gnb {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

.lnb {
    width: 1000px;
    height: 130px;
    margin: 0 auto;
}

.lnb ul li {
    display: inline-block;
}

.lnb ul li a {
    font-size: 15px;
    color: #666;
    font-weight: bold;
}

nav {
    width: 1000px;
    margin: 0 auto;
    border: 1px #ccc solid;
}

.gnb ul {
    width: 500px;
    height: 100%;
    float: right;
    text-align: center;
}

.gnb li {
    display: inline-block;
    padding-right: 10px;
    height: 100%;
}

.gnb li a {
    font-size: 12px;
    color: #000;
}

nav .menu {
    width: 100%;
    height: 50px;
    background: #3b5999;
}

.menu ul {
    padding: 15px;
    float: left;
}

.menu ul:nth-child(2) {
    float: right;
}

.menu ul:nth-child(2) li a {
    font-size: 12px;
}

.menu li {
    display: inline-block;
}

.menu li a {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
}

.menu2 {
    width: 100%;
    height: 50px;
    border-bottom: 1px #666 solid;
}

.menu2 ul {
    padding: 15px;
}

.menu2 li {
    display: inline-block;
}

.menu2 li a {
    font-size: 13px;
    font-weight: bold;
    color: #666;
}

.banner {
    width: 380px;
    height: 130px;
    float: left;
}

.banner a img {
    padding-top: 40px;
}

.banner ul {
    padding-top: 20px;
}

.search {
    width: 280px;
    height: 130px;
    float: left;
}

.search a img {
    padding-top: 20px;
    padding-bottom: 15px;
}

.search span {
    display: block;
    width: 280px;
    height: 40px;
}

.search input:nth-child(2) {
    border-right: none;
    border: 2px solid #3a66af;
    border-left: none;
}

.keyword {
    width: 238px;
    height: 25px;
    border: 2px solid #3a66af;
    border-right: none;
    float: left;
}

.event {
    width: 340px;
    height: 130px;
    float: left;
}

.event a img {
    padding-top: 10px;
    float: right;
}

main {
    margin: 5px auto;
    width: 1000px;
    height: 2000px;
    border: 1px #666 solid;
}

.left {
    width: 750px;
    height: 100%;
    float: left;
    border-right: 1px #666 solid;
}

.right {
    margin-left: 760px;
    height: 100%;
}

.car {
    width: 750px;
    height: 350px;
    border-bottom: 1px #666 solid;
}

.benz {
    float: left;
}

.party {
    float: right;
}
